* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Campton';
}

@font-face {
    font-family: 'CamptonBold';
    src: url('./assets/campton-cufonfonts/CamptonBold.otf') format('opentype');

}

@font-face {
    font-family: 'Campton';
    src: url('./assets/campton-cufonfonts/CamptonMedium.otf') format('opentype');

}

.splash {
    background-image: url('./assets/vackground.png');
    height: 1024px;
    width: 100%;
    display: grid;
    place-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.register__info {
    width: 508px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 792px;
    background-color: #084B3E;
    border-radius: 50px 0px 0px 50px;
}

.register__info-logo {
    padding-left: 51.52px;
    padding-top: 33.54px;
    width: 171.48px;
    height: 94.46px;
}

.register__info-text {
    padding-left: 54px;
    padding-bottom: 56px;
    width: 350px;
    height: 225px;
    font-family: 'Campton';
    font-style: normal;
    font-weight: 500;
    font-size: 39px;
    line-height: 45px;
    letter-spacing: -1px;
    color: #F9E2BA;

}

.register__fill {
    position: relative;
    padding-left: 52px;
    margin-top: 55px;
    margin-bottom: 56px;
}

.register__fill-heading {
    width: 421px;
    height: 84px;
    left: 700px;
    top: 171px;
    font-family: 'Campton';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 42px;
    letter-spacing: -0.5px;
    color: #232323;
}

.register__fill-form {
    display: flex;
    flex-direction: column;
    gap: 47px;
    margin-top: 77px;

}

.register__fill-group {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.register__fill-input {
    outline: none;
    border: none;
    width: 450px;
    border-bottom: 1px solid #343434;
}

.register__fill-label {
    font-family: 'CamptonBold';
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.206977px;
    color: #343434;
}

.register__fill-label:after {
    content: " *";
    color: red;
}

.register__fill-btn {
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 43px;
    width: 450px;
    height: 76px;
    background: #00C38B;
    border-radius: 20px;
    font-family: 'CamptonBold';
    font-style: normal;
    font-weight: 550;
    font-size: 20px;
    line-height: 24px;
    border: 0;
    text-align: center;
    letter-spacing: -0.5625px;
    color: #FFFFFF;
}

.register__footer-para {
    position: absolute;
    bottom: 0;
    width: 302px;
    font-family: 'Campton';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.5px;
    color: #BDBDBD;
}

.register__footer-para-span {
    color: #19B07E;
}

.register {
    display: flex;
    width: 1160px;
    height: 792px;
    background-color: white;
    border-radius: 50px;
}